In [195]:
import dask.dataframe as dd
from dask import compute

#declaro barra de progreso
from dask.diagnostics import ProgressBar
ProgressBar().register()

In [77]:
df = dd.read_parquet('/data/nyc2015/2015.parq', engine='arrow', columns=['VendorID','tpep_pickup_datetime','tpep_dropoff_datetime','passenger_count','trip_distance','pickup_latitude','pickup_longitude','RateCodeID','store_and_fwd_flag','dropoff_latitude','dropoff_longitude','payment_type','fare_amount','extra','mta_tax','tip_amount','tolls_amount','improvement_surcharge','total_amount'])
df1 = df.head(500)
df1

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_latitude,pickup_longitude,RateCodeID,store_and_fwd_flag,dropoff_latitude,dropoff_longitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,2,2015-01-15 19:05:39,2015-01-15 19:23:42,1,1.59,40.750111,-73.993896,1,N,40.750618,-73.974785,1,12.0,1.0,0.5,3.25,0.00,0.3,17.05
1,1,2015-01-10 20:33:38,2015-01-10 20:53:28,1,3.30,40.724243,-74.001648,1,N,40.759109,-73.994415,1,14.5,0.5,0.5,2.00,0.00,0.3,17.80
2,1,2015-01-10 20:33:38,2015-01-10 20:43:41,1,1.80,40.802788,-73.963341,1,N,40.824413,-73.951820,2,9.5,0.5,0.5,0.00,0.00,0.3,10.80
3,1,2015-01-10 20:33:39,2015-01-10 20:35:31,1,0.50,40.713818,-74.009087,1,N,40.719986,-74.004326,2,3.5,0.5,0.5,0.00,0.00,0.3,4.80
4,1,2015-01-10 20:33:39,2015-01-10 20:52:58,1,3.00,40.762428,-73.971176,1,N,40.742653,-74.004181,2,15.0,0.5,0.5,0.00,0.00,0.3,16.30
5,1,2015-01-10 20:33:39,2015-01-10 20:53:52,1,9.00,40.774048,-73.874374,1,N,40.758194,-73.986977,1,27.0,0.5,0.5,6.70,5.33,0.3,40.33
6,1,2015-01-10 20:33:39,2015-01-10 20:58:31,1,2.20,40.726009,-73.983276,1,N,40.749634,-73.992470,2,14.0,0.5,0.5,0.00,0.00,0.3,15.30
7,1,2015-01-10 20:33:39,2015-01-10 20:42:20,3,0.80,40.734142,-74.002663,1,N,40.726326,-73.995010,1,7.0,0.5,0.5,1.66,0.00,0.3,9.96
8,1,2015-01-10 20:33:39,2015-01-10 21:11:35,3,18.20,40.644356,-73.783043,2,N,40.759357,-73.987595,2,52.0,0.0,0.5,0.00,5.33,0.3,58.13
9,1,2015-01-10 20:33:40,2015-01-10 20:40:44,2,0.90,40.767948,-73.985588,1,N,40.759365,-73.985916,1,6.5,0.5,0.5,1.55,0.00,0.3,9.35
10,1,2015-01-10 20:33:40,2015-01-10 20:41:39,1,0.90,40.723103,-73.988617,1,N,40.728584,-74.004395,1,7.0,0.5,0.5,1.66,0.00,0.3,9.96
11,1,2015-01-10 20:33:41,2015-01-10 20:43:26,1,1.10,40.751419,-73.993782,1,N,40.757217,-73.967407,1,7.5,0.5,0.5,1.00,0.00,0.3,9.80
12,1,2015-01-10 20:33:41,2015-01-10 20:35:23,1,0.30,40.704376,-74.008362,1,N,40.707726,-74.009773,2,3.0,0.5,0.5,0.00,0.00,0.3,4.30
13,1,2015-01-10 20:33:41,2015-01-10 21:03:04,1,3.10,40.760448,-73.973946,1,N,40.735210,-73.997345,1,19.0,0.5,0.5,3.00,0.00,0.3,23.30
14,1,2015-01-10 20:33:41,2015-01-10 20:39:23,1,1.10,40.731777,-74.006721,1,N,40.739895,-73.995216,2,6.0,0.5,0.5,0.00,0.00,0.3,7.30
15,2,2015-01-15 19:05:39,2015-01-15 19:32:00,1,2.38,40.739811,-73.976425,1,N,40.757889,-73.983978,1,16.5,1.0,0.5,4.38,0.00,0.3,22.68
16,2,2015-01-15 19:05:40,2015-01-15 19:21:00,5,2.83,40.754246,-73.968704,1,N,40.786858,-73.955124,2,12.5,1.0,0.5,0.00,0.00,0.3,14.30
17,2,2015-01-15 19:05:40,2015-01-15 19:28:18,5,8.33,40.769581,-73.863060,1,N,40.785782,-73.952713,1,26.0,1.0,0.5,8.08,5.33,0.3,41.21
18,2,2015-01-15 19:05:41,2015-01-15 19:20:36,1,2.37,40.779423,-73.945541,1,N,40.786083,-73.980850,1,11.5,1.0,0.5,0.00,0.00,0.3,13.30
19,2,2015-01-15 19:05:41,2015-01-15 19:20:22,2,7.13,40.774010,-73.874458,1,N,40.718590,-73.952377,1,21.5,1.0,0.5,4.50,0.00,0.3,27.80
20,2,2015-01-15 19:05:41,2015-01-15 19:31:00,1,3.60,40.751896,-73.976601,1,N,40.714596,-73.998924,2,17.5,1.0,0.5,0.00,0.00,0.3,19.30
21,2,2015-01-15 19:05:41,2015-01-15 19:10:22,1,0.89,40.745079,-73.994957,1,N,40.734650,-73.999939,1,5.5,1.0,0.5,1.62,0.00,0.3,8.92
22,2,2015-01-15 19:05:41,2015-01-15 19:10:55,1,0.96,40.747063,-74.000938,1,N,40.735512,-74.003563,1,5.5,1.0,0.5,1.30,0.00,0.3,8.60
23,2,2015-01-15 19:05:41,2015-01-15 19:12:36,2,1.25,40.717892,-74.002777,1,N,40.704220,-74.007919,1,6.5,1.0,0.5,1.50,0.00,0.3,9.80
24,2,2015-01-15 19:05:41,2015-01-15 19:22:11,5,2.11,40.736362,-73.997459,1,N,40.761856,-73.978172,1,11.5,1.0,0.5,2.50,0.00,0.3,15.80
25,2,2015-01-15 19:05:41,2015-01-15 19:14:05,5,1.15,40.823994,-73.952278,1,N,40.811089,-73.953339,1,7.5,1.0,0.5,1.70,0.00,0.3,11.00
26,2,2015-01-15 19:05:42,2015-01-15 19:16:18,1,1.53,40.750080,-73.991127,1,N,40.734890,-73.988609,2,9.0,1.0,0.5,0.00,0.00,0.3,10.80
27,2,2015-01-15 19:05:42,2015-01-15 19:49:07,1,18.06,40.644127,-73.786575,2,N,40.743530,-73.985603,1,52.0,0.0,0.5,6.00,5.33,0.3,64.13
28,2,2015-01-15 19:05:42,2015-01-15 19:18:33,1,1.76,40.741447,-73.993668,1,N,40.757721,-73.994514,1,10.0,1.0,0.5,2.36,0.00,0.3,14.16
29,2,2015-01-15 19:05:42,2015-01-15 19:21:40,6,5.19,40.744083,-73.985291,1,N,40.704689,-74.009079,1,17.5,1.0,0.5,3.70,0.00,0.3,23.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,1,2015-01-23 16:51:43,2015-01-23 17:09:09,1,2.30,40.768581,-73.952522,1,N,40.761738,-73.981590,1,13.0,1.0,0.5,2.96,0.00,0.3,17.76
471,1,2015-01-23 16:51:44,2015-01-23 16:56:52,1,0.60,40.807655,-73.949486,1,N,40.801319,-73.945900,2,5.0,1.0,0.5,0.00,0.00,0.3,6.80
472,1,2015-01-07 20:09:37,2015-01-07 20:14:40,1,0.80,40.784973,-73.956009,1,N,40.790154,-73.945656,1,5.5,0.5,0.5,0.00,0.00,0.3,6.80
473,1,2015-01-07 20:09:37,2015-01-07 20:27:38,1,10.20,40.766933,-73.981995,1,N,40.880566,-73.919418,2,29.5,0.5,0.5,0.00,2.44,0.3,33.24
474,1,2015-01-07 20:09:37,2015-01-07 20:27:03,1,4.50,40.760517,-73.984161,1,N,40.806000,-73.943237,1,16.0,0.5,0.5,3.46,0.00,0.3,20.76
475,1,2015-01-07 20:09:37,2015-01-07 20:32:07,1,6.90,40.714111,-73.990059,1,N,40.654373,-74.004219,1,23.0,0.5,0.5,4.85,0.00,0.3,29.15
476,1,2015-01-07 20:09:37,2015-01-07 20:24:00,1,2.80,40.720097,-73.988358,1,N,40.752220,-73.976990,1,12.5,0.5,0.5,2.75,0.00,0.3,16.55
477,1,2015-01-07 20:09:37,2015-01-07 20:24:49,1,1.50,40.757099,-73.993446,1,N,40.753319,-73.991699,2,11.0,0.5,0.5,0.00,0.00,0.3,12.30
478,1,2015-01-07 20:09:38,2015-01-07 20:19:25,1,1.40,40.739258,-73.999062,1,N,40.726788,-73.983360,1,8.0,0.5,0.5,1.00,0.00,0.3,10.30
479,1,2015-01-07 20:09:38,2015-01-07 20:25:41,1,3.60,40.721886,-74.000084,1,N,40.756660,-73.963379,1,14.5,0.5,0.5,3.00,0.00,0.3,18.80
480,1,2015-01-07 20:09:38,2015-01-07 20:18:26,1,3.20,40.770927,-73.866135,1,N,40.755054,-73.902344,2,11.0,0.5,0.5,0.00,0.00,0.3,12.30
481,1,2015-01-07 20:09:39,2015-01-07 20:20:47,1,2.10,40.760799,-73.979523,1,N,40.778519,-73.957512,1,10.0,0.5,0.5,2.25,0.00,0.3,13.55
482,1,2015-01-07 20:09:39,2015-01-07 20:33:01,1,8.00,40.755516,-73.967209,1,N,40.726574,-73.853203,1,26.0,0.5,0.5,6.80,0.00,0.3,34.10
483,1,2015-01-07 20:09:39,2015-01-07 20:25:25,1,6.90,40.721363,-74.010445,1,N,40.752331,-73.977501,1,21.5,0.5,0.5,4.11,0.00,0.3,26.91
484,1,2015-01-07 20:09:39,2015-01-07 20:12:32,1,0.50,40.774239,-73.954338,1,N,40.775307,-73.959297,2,4.0,0.5,0.5,0.00,0.00,0.3,5.30
485,1,2015-01-07 20:09:39,2015-01-07 20:29:48,1,4.30,40.792824,-73.966621,1,N,40.740582,-73.987404,2,16.5,0.5,0.5,0.00,0.00,0.3,17.80
486,1,2015-01-07 20:09:40,2015-01-07 20:17:53,1,1.40,40.757317,-73.968864,1,N,40.771305,-73.982521,2,7.5,0.5,0.5,0.00,0.00,0.3,8.80
487,1,2015-01-07 20:09:40,2015-01-07 20:18:21,1,1.00,40.748264,-73.994484,1,N,40.761936,-73.987267,1,7.0,0.5,0.5,1.66,0.00,0.3,9.96
488,1,2015-01-07 20:09:41,2015-01-07 20:14:42,1,0.70,40.724289,-73.997406,1,N,40.716187,-74.000114,1,5.0,0.5,0.5,1.25,0.00,0.3,7.55
489,1,2015-01-07 20:09:41,2015-01-07 20:19:30,3,1.60,40.738544,-73.988586,1,N,40.755875,-73.974930,2,8.5,0.5,0.5,0.00,0.00,0.3,9.80
490,1,2015-01-07 20:09:41,2015-01-07 20:19:54,1,1.90,40.777805,-73.957291,1,N,40.775284,-73.980263,2,9.5,0.5,0.5,0.00,0.00,0.3,10.80
491,1,2015-01-07 20:09:41,2015-01-07 20:19:54,1,2.10,0.000000,0.000000,1,N,0.000000,0.000000,2,9.5,0.5,0.5,0.00,0.00,0.3,10.80
492,1,2015-01-07 20:09:42,2015-01-07 20:26:53,1,3.10,40.753750,-73.978493,1,N,40.790337,-73.949638,1,14.5,0.5,0.5,3.15,0.00,0.3,18.95
493,1,2015-01-07 20:09:42,2015-01-07 20:17:38,1,1.00,40.752769,-73.978210,1,N,40.750217,-73.990227,2,7.0,0.5,0.5,0.00,0.00,0.3,8.30
494,1,2015-01-10 19:12:21,2015-01-10 19:16:04,2,0.60,40.714073,-74.005966,1,N,40.720104,-74.009743,1,4.5,0.0,0.5,1.70,0.00,0.3,7.00
495,1,2015-01-10 19:12:21,2015-01-10 19:19:59,1,0.40,40.762901,-73.995377,1,N,40.759281,-73.987122,2,6.0,0.0,0.5,0.00,0.00,0.3,6.80
496,1,2015-01-10 19:12:22,2015-01-10 19:28:03,1,5.30,40.750542,-73.989265,1,N,40.805069,-73.962692,1,17.5,0.0,0.5,3.65,0.00,0.3,21.95
497,1,2015-01-10 19:12:22,2015-01-10 19:31:40,1,2.40,40.750626,-73.970383,1,N,40.733673,-73.993469,1,13.0,0.0,0.5,1.00,0.00,0.3,14.80
498,1,2015-01-10 19:12:22,2015-01-10 19:18:20,1,1.00,40.747501,-73.992683,1,N,40.735985,-74.004669,1,6.0,0.0,0.5,0.00,0.00,0.3,6.80
499,1,2015-01-10 19:12:22,2015-01-10 19:23:36,1,2.10,40.763126,-73.974030,1,N,40.760700,-74.002647,2,10.0,0.0,0.5,0.00,0.00,0.3,10.80

In [78]:
# Para sacar la correlacion entre variables
%time df_corr=df.head(1000)[['passenger_count','tip_amount','tolls_amount','total_amount']].corr()

CPU times: user 102 ms, sys: 22.4 ms, total: 125 ms
Wall time: 90.9 ms

In [79]:
df_corr

                 passenger_count  tip_amount  tolls_amount  total_amount
passenger_count         1.000000    0.028882      0.014722      0.046128
tip_amount              0.028882    1.000000      0.339835      0.701720
tolls_amount            0.014722    0.339835      1.000000      0.608052
total_amount            0.046128    0.701720      0.608052      1.000000

In [157]:
df_corr.values

array([[ 1.        ,  0.02888173,  0.01472249,  0.04612763],
       [ 0.02888173,  1.        ,  0.33983507,  0.7017201 ],
       [ 0.01472249,  0.33983507,  1.        ,  0.60805233],
       [ 0.04612763,  0.7017201 ,  0.60805233,  1.        ]])

In [146]:
# correlacion de una variable con valores ordenados
df_corr['passenger_count'].sort_values(ascending=False)

passenger_count    1.000000
total_amount       0.046128
tip_amount         0.028882
tolls_amount       0.014722
Name: passenger_count, dtype: float64

In [191]:
#Para sacar una muestra de datos
df1=df.sample(frac=0.00001, replace=True).compute()

[########################################] | 100% Completed |  7.8s
[########################################] | 100% Completed |  7.9s

In [179]:
#para visualizar las características del dataframe
#calculo la longitud del nuevo dataset
len(df1)

1431

In [180]:
df1.dtypes

VendorID                          int64
tpep_pickup_datetime     datetime64[ns]
tpep_dropoff_datetime    datetime64[ns]
passenger_count                   int64
trip_distance                   float64
pickup_latitude                 float64
pickup_longitude                float64
RateCodeID                        int64
store_and_fwd_flag               object
dropoff_latitude                float64
dropoff_longitude               float64
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
dtype: object

In [181]:
df1.dtypes[9]

dtype('float64')

In [182]:
df1.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'pickup_latitude',
       'pickup_longitude', 'RateCodeID', 'store_and_fwd_flag',
       'dropoff_latitude', 'dropoff_longitude', 'payment_type', 'fare_amount',
       'extra', 'mta_tax', 'tip_amount', 'tolls_amount',
       'improvement_surcharge', 'total_amount'],
      dtype='object')

In [183]:
df1.columns[5]

'pickup_latitude'

In [192]:
#operacion compute() solo es valida sobre el dataframe original, si sacamos una muestra y lo igualamos ya no 
#funciona correctamente.
%time df.passenger_count.sum().compute()

[########################################] | 100% Completed |  8.1s
[########################################] | 100% Completed |  8.1s
CPU times: user 46.3 s, sys: 7.56 s, total: 53.8 s
Wall time: 8.11 s

245566747

In [84]:
# Common aggregations: max(), min(), mean(), std(), sum(), count(), var()
# find the minimum value
df_min = df1.min()
df_min

VendorID                                   1
tpep_pickup_datetime     2015-01-01 01:08:55
tpep_dropoff_datetime    2015-01-01 01:08:56
passenger_count                            1
trip_distance                              0
pickup_latitude                            0
pickup_longitude                    -74.0169
RateCodeID                                 1
store_and_fwd_flag                         N
dropoff_latitude                           0
dropoff_longitude                   -74.1772
payment_type                               1
fare_amount                              2.5
extra                                      0
mta_tax                                    0
tip_amount                                 0
tolls_amount                               0
improvement_surcharge                      0
total_amount                             3.3
dtype: object

In [85]:
# find the maximun value
df_max = df1.max()
df_max

VendorID                                   2
tpep_pickup_datetime     2015-01-28 21:50:23
tpep_dropoff_datetime    2015-01-28 22:17:41
passenger_count                            6
trip_distance                           20.1
pickup_latitude                      40.8379
pickup_longitude                           0
RateCodeID                                 5
store_and_fwd_flag                         Y
dropoff_latitude                      40.886
dropoff_longitude                          0
payment_type                               3
fare_amount                               64
extra                                      1
mta_tax                                  0.5
tip_amount                              15.3
tolls_amount                              16
improvement_surcharge                    0.3
total_amount                           91.85
dtype: object

In [137]:
# Resumen de conjunto de agregaciones
df1.describe()

,VendorID,passenger_count,trip_distance,pickup_latitude,pickup_longitude,RateCodeID,dropoff_latitude,dropoff_longitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
count,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000,500.000000
mean,1.414000,1.556000,2.905900,40.015905,-72.641714,1.042000,40.018190,-72.640954,1.348000,12.784200,0.345000,0.496000,1.732600,0.260260,0.286200,15.917460
std,0.493042,1.202396,3.354417,5.423182,9.844743,0.347098,5.423511,9.844628,0.480998,10.226335,0.364336,0.044587,2.304786,1.406761,0.062908,12.448928
min,1.000000,1.000000,0.000000,0.000000,-74.016899,1.000000,0.000000,-74.177238,1.000000,2.500000,0.000000,0.000000,0.000000,0.000000,0.000000,3.300000
25%,1.000000,1.000000,1.000000,40.731660,-73.993441,1.000000,40.732165,-73.991014,1.000000,6.500000,0.000000,0.500000,0.000000,0.000000,0.300000,8.760000
50%,1.000000,1.000000,1.660000,40.751240,-73.980648,1.000000,40.754175,-73.977283,1.000000,9.500000,0.500000,0.500000,1.200000,0.000000,0.300000,11.675000
75%,2.000000,2.000000,3.277500,40.768412,-73.962898,1.000000,40.769574,-73.956039,2.000000,15.000000,0.500000,0.500000,2.360000,0.000000,0.300000,18.800000
max,2.000000,6.000000,20.100000,40.837936,0.000000,5.000000,40.886036,0.000000,3.000000,64.000000,1.000000,0.500000,15.300000,16.000000,0.300000,91.850000

In [86]:
#Buscar valores vacios (no distintos de 0)
not_null = df1[df1.notnull()].count()
not_null

VendorID                 500
tpep_pickup_datetime     500
tpep_dropoff_datetime    500
passenger_count          500
trip_distance            500
pickup_latitude          500
pickup_longitude         500
RateCodeID               500
store_and_fwd_flag       500
dropoff_latitude         500
dropoff_longitude        500
payment_type             500
fare_amount              500
extra                    500
mta_tax                  500
tip_amount               500
tolls_amount             500
improvement_surcharge    500
total_amount             500
dtype: int64

In [87]:
df1.fare_amount.notnull().count()

500

In [89]:
#Count total values and show values from colums
dd.compute(df1.passenger_count.count())

(500,)

In [91]:
df1.passenger_count.value_counts()

1    373
2     65
5     23
3     20
6     12
4      7
Name: passenger_count, dtype: int64

In [92]:
df1.passenger_count.value_counts().head(3)

1    373
2     65
5     23
Name: passenger_count, dtype: int64

In [128]:
#Columna con un valor mayor o menos que
df1[df1.tolls_amount > 0]

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_latitude,pickup_longitude,RateCodeID,store_and_fwd_flag,dropoff_latitude,dropoff_longitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
5,1,2015-01-10 20:33:39,2015-01-10 20:53:52,1,9.00,40.774048,-73.874374,1,N,40.758194,-73.986977,1,27.0,0.5,0.5,6.70,5.33,0.3,40.33
8,1,2015-01-10 20:33:39,2015-01-10 21:11:35,3,18.20,40.644356,-73.783043,2,N,40.759357,-73.987595,2,52.0,0.0,0.5,0.00,5.33,0.3,58.13
17,2,2015-01-15 19:05:40,2015-01-15 19:28:18,5,8.33,40.769581,-73.863060,1,N,40.785782,-73.952713,1,26.0,1.0,0.5,8.08,5.33,0.3,41.21
27,2,2015-01-15 19:05:42,2015-01-15 19:49:07,1,18.06,40.644127,-73.786575,2,N,40.743530,-73.985603,1,52.0,0.0,0.5,6.00,5.33,0.3,64.13
65,2,2015-01-04 13:44:52,2015-01-04 14:04:23,1,8.98,40.773792,-73.871002,1,N,40.770042,-73.961365,1,27.0,0.0,0.5,0.00,5.33,0.3,33.13
74,2,2015-01-04 13:44:54,2015-01-04 14:02:23,2,8.79,40.773369,-73.964203,1,N,40.773834,-73.870636,1,26.0,0.0,0.5,4.00,5.33,0.3,36.13
83,2,2015-01-15 14:00:43,2015-01-15 14:58:40,1,15.20,40.667728,-73.801262,2,N,40.756001,-73.993355,1,52.0,0.0,0.5,14.33,5.33,0.3,72.46
91,2,2015-01-15 14:00:45,2015-01-15 14:47:12,1,10.89,40.739765,-74.006409,1,N,40.774212,-73.871193,1,40.5,0.0,0.5,9.17,5.33,0.3,55.80
92,2,2015-01-15 14:00:46,2015-01-15 14:41:54,6,10.39,40.747257,-73.993095,1,N,40.770321,-73.864830,1,38.0,0.0,0.5,10.83,5.33,0.3,54.96
119,1,2015-01-26 12:41:21,2015-01-26 13:03:26,2,16.30,40.761681,-73.998390,3,N,40.695042,-74.177238,1,60.5,0.0,0.0,15.30,15.75,0.3,91.85
131,1,2015-01-15 10:26:16,2015-01-15 11:08:10,2,12.60,40.768845,-73.862740,1,N,40.758839,-73.989563,2,40.0,0.0,0.5,0.00,5.33,0.3,46.13
159,1,2015-01-15 09:47:02,2015-01-15 10:17:47,3,8.30,0.000000,0.000000,1,N,0.000000,0.000000,1,27.5,0.0,0.5,10.00,5.33,0.3,43.63
236,1,2015-01-20 23:08:15,2015-01-20 23:21:42,1,3.80,40.725010,-73.994675,1,N,40.741718,-73.956039,1,14.0,0.5,0.5,4.10,5.33,0.3,24.73
288,2,2015-01-06 10:02:18,2015-01-06 10:31:54,1,6.13,40.675777,-74.000763,1,N,40.744408,-73.992294,2,23.5,0.0,0.5,0.00,5.33,0.3,29.63
334,2,2015-01-08 16:24:02,2015-01-08 16:50:53,1,8.75,40.774132,-73.873108,1,N,40.756828,-73.972107,1,28.5,1.0,0.5,6.97,5.33,0.3,42.60
347,2,2015-01-28 21:50:18,2015-01-28 22:11:18,1,8.62,40.772720,-73.876610,1,N,40.754169,-73.986031,2,26.0,0.5,0.5,0.00,5.33,0.3,32.63
396,2,2015-01-01 05:29:50,2015-01-01 05:54:13,1,17.46,40.757416,-73.982964,3,N,40.695057,-74.177193,1,64.0,0.5,0.0,1.00,16.00,0.3,81.80
417,1,2015-01-28 10:50:01,2015-01-28 11:28:06,3,17.50,40.644520,-73.782555,2,N,40.755116,-73.983932,2,52.0,0.0,0.5,0.00,5.33,0.3,58.13
423,1,2015-01-28 10:50:04,2015-01-28 11:14:48,1,18.00,40.644588,-73.781670,1,N,40.809521,-73.919838,1,48.5,0.0,0.5,5.00,5.33,0.3,59.63
459,1,2015-01-23 16:51:38,2015-01-23 17:25:53,1,13.40,40.770950,-73.865768,1,N,40.886036,-73.905128,1,38.0,1.0,0.5,13.50,5.33,0.3,58.63
473,1,2015-01-07 20:09:37,2015-01-07 20:27:38,1,10.20,40.766933,-73.981995,1,N,40.880566,-73.919418,2,29.5,0.5,0.5,0.00,2.44,0.3,33.24

In [142]:
#ejemplo inventado con cadenas de datos (no aplica para este dataset)
#CreditCard = df1.payment_type.str.contains('credit_card')
#CreditCard = df1.payment_type[is_credit_card]
#CreditCard.name.value_counts().head(5)

In [141]:
# pandas operations supported by Dask DataFrames:
# groupby(), value_counts(), drop_duplicates(), merge(), set_index()
#groupby
df1.groupby(df1.passenger_count).count()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,trip_distance,pickup_latitude,pickup_longitude,RateCodeID,store_and_fwd_flag,dropoff_latitude,dropoff_longitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
passenger_count,,,,,,,,,,,,,,,,,,
1,373,373,373,373,373,373,373,373,373,373,373,373,373,373,373,373,373,373
2,65,65,65,65,65,65,65,65,65,65,65,65,65,65,65,65,65,65
3,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20,20
4,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7,7
5,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23,23
6,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12,12

In [202]:
#no funciona con df1!!
import datetime as dt
df.groupby(df.tpep_pickup_datetime.dt.hour).mean().compute()

[########################################] | 100% Completed | 30.8s
[########################################] | 100% Completed | 30.9s
[########################################] | 100% Completed | 30.9s

,RateCodeID,VendorID,dropoff_latitude,dropoff_longitude,extra,fare_amount,improvement_surcharge,mta_tax,passenger_count,payment_type,pickup_latitude,pickup_longitude,store_and_fwd_flag,tip_amount,tolls_amount,total_amount,tpep_dropoff_datetime,tpep_pickup_datetime,trip_distance
tpep_pickup_datetime,,,,,,,,,,,,,,,,,,,
0,1.041216,1.527583,40.109950,-72.815661,0.489498,13.319406,0.297690,0.497329,1.711608,1.355838,40.085095,-72.781322,NaN,1.781668,0.195107,16.582846,NaN,NaN,10.847708
1,1.052891,1.519201,40.093569,-72.785250,0.491364,12.929304,0.297104,0.496800,1.710394,1.361221,40.064620,-72.749669,NaN,1.685955,0.142076,16.045196,NaN,NaN,11.220040
2,1.050959,1.507846,40.075758,-72.752881,0.492985,12.800982,0.296745,0.496214,1.712286,1.371120,40.034156,-72.697736,NaN,1.612013,0.117027,15.818871,NaN,NaN,15.568531
3,1.055450,1.499680,40.055835,-72.713960,0.490629,14.077766,0.296340,0.494941,1.719210,1.398002,39.999120,-72.634284,NaN,1.580111,0.153354,17.096820,NaN,NaN,11.457258
4,1.092819,1.494187,40.026595,-72.651236,0.479222,15.246167,0.296518,0.492101,1.706956,1.469174,39.976356,-72.582928,NaN,1.715331,0.431822,18.664351,NaN,NaN,6.317341
5,1.128716,1.485043,40.053261,-72.694619,0.426315,16.282387,0.297656,0.491794,1.603974,1.430045,40.017415,-72.641939,NaN,2.124378,0.776745,20.401039,NaN,NaN,20.783674
6,1.076103,1.490237,40.124403,-72.827790,0.006031,13.361178,0.298722,0.495826,1.559589,1.375716,40.080834,-72.753687,NaN,1.770483,0.510266,16.443433,NaN,NaN,15.254455
7,1.041640,1.509560,40.161769,-72.897071,0.000722,12.221309,0.299079,0.497692,1.592535,1.339615,40.120407,-72.821465,NaN,1.665240,0.334376,15.019153,NaN,NaN,4.791892
8,1.031840,1.520602,40.173729,-72.924972,0.000545,12.335293,0.299070,0.498053,1.619406,1.320783,40.136772,-72.852550,NaN,1.710248,0.286182,15.130168,NaN,NaN,7.973857
9,1.027678,1.526215,40.169325,-72.918835,0.000712,12.323574,0.298876,0.498108,1.632040,1.349333,40.135476,-72.851623,NaN,1.666080,0.290676,15.078989,NaN,NaN,10.307014
10,1.030169,1.527617,40.161555,-72.902333,0.000754,12.480965,0.298610,0.497934,1.660743,1.396101,40.130091,-72.840162,NaN,1.600663,0.318715,15.297692,NaN,NaN,13.111215
11,1.034427,1.528963,40.156226,-72.891946,0.000753,12.742701,0.298434,0.497810,1.677902,1.411437,40.125480,-72.832725,NaN,1.591187,0.331029,15.463760,NaN,NaN,5.146537
12,1.036922,1.525323,40.147107,-72.874799,0.001101,12.770859,0.298280,0.497762,1.684809,1.414635,40.117370,-72.818967,NaN,1.588436,0.338112,15.508800,NaN,NaN,8.631187
13,1.045328,1.519704,40.136940,-72.856169,0.000833,13.275448,0.298197,0.497419,1.690512,1.421353,40.107290,-72.801690,NaN,1.622620,0.380722,16.076872,NaN,NaN,13.457746
14,1.053233,1.518872,40.126622,-72.836298,0.000778,13.653236,0.298188,0.496909,1.695894,1.424811,40.100187,-72.788530,NaN,1.673965,0.427119,16.555276,NaN,NaN,36.953812
15,1.056483,1.516233,40.110874,-72.805889,0.031214,13.815462,0.298085,0.496868,1.704285,1.429771,40.082726,-72.754948,NaN,1.694252,0.445325,16.782894,NaN,NaN,7.679375
16,1.057394,1.527753,40.102344,-72.789704,0.619000,13.706133,0.298008,0.497205,1.699516,1.428061,40.077592,-72.744693,NaN,1.746493,0.441727,17.310827,NaN,NaN,10.337617
17,1.045035,1.537418,40.119472,-72.822523,0.663408,13.188631,0.298230,0.497845,1.689282,1.405965,40.108522,-72.801746,NaN,1.713129,0.349866,16.712697,NaN,NaN,10.862557
18,1.033917,1.535447,40.136585,-72.856958,0.692575,12.402019,0.298404,0.498330,1.683025,1.378196,40.121248,-72.828209,NaN,1.665887,0.258751,15.880448,NaN,NaN,9.824028
19,1.030703,1.534108,40.142918,-72.871917,0.693858,12.032690,0.298480,0.498506,1.688180,1.360193,40.126903,-72.841877,NaN,2.101009,0.232367,15.858383,NaN,NaN,10.832006
20,1.032540,1.531319,40.141668,-72.871043,0.493318,12.243817,0.298576,0.498470,1.686918,1.341790,40.123480,-72.838728,NaN,1.723484,0.239797,15.507164,NaN,NaN,19.549534
21,1.033104,1.531816,40.148723,-72.883055,0.489734,12.601194,0.298615,0.498316,1.700244,1.341974,40.128831,-72.849725,NaN,1.788055,0.248161,15.925300,NaN,NaN,19.733769
22,1.035104,1.532008,40.148268,-72.882898,0.489852,13.004506,0.298555,0.498096,1.711290,1.342445,40.127902,-72.850373,NaN,1.828460,0.238803,16.359579,NaN,NaN,13.618590
23,1.038364,1.531231,40.140929,-72.870773,0.489458,13.460566,0.298439,0.497845,1.713248,1.347743,40.117326,-72.833828,NaN,1.845651,0.244324,16.837650,NaN,NaN,16.608085

In [160]:
# Compute average trip distance grouped by passenger count
df.groupby(df.passenger_count).trip_distance.mean().compute()

[########################################] | 100% Completed | 10.2s
[########################################] | 100% Completed | 10.3s

passenger_count
0     2.279183
1    15.541413
2    11.815871
3     1.620052
4     7.481066
5     3.066019
6     2.977158
9     5.459763
7     3.303054
8     3.866298
Name: trip_distance, dtype: float64

In [ ]:
import datetime as dt
# Monday=0, Sunday=6
df['weekday'] = pd.to_datetime(df['tpep_pickup_datetime']).apply(lambda x: x.weekday())
df

In [209]:
# Define some aggregations to plot
year = df.tpep_pickup_datetime.dt.year
month = df.tpep_pickup_datetime.dt.month
day = df.tpep_pickup_datetime.dt.day
weekday = df.tpep_pickup_datetime.dt.weekday
hour = df.tpep_pickup_datetime.dt.hour

aggregations = (df.groupby(year).passenger_count.count(),
                df.groupby(month).passenger_count.count(),
                df.groupby(hour).passenger_count.count(),
                df.groupby(day).passenger_count.count())

# Compute them all in a single pass over the data
(delayed_by_year,
delayed_by_month,
delayed_by_hour,
delayed_by_day) = dask.compute(*aggregations)

NameError: name 'dask' is not defined

In [ ]:
#persist() se usa para calcular completamente el marco de datos y almacenarlo en caché en memoria a través del 
#cluster. Hacemos esto porque puede caber fácilmente en la memoria distribuida, y acelerará todos los pasos 
#restantes (la entrada-salida puede ser costosa).